/* ============= ESTILO VARIABLES=================== */

$color_1: #32B6F1;
$color_2: #000000;
$color_3: #ffffff;
$color_4: #2FA83A;
$background-color_1: #7fffd4;
$background-color_2: #fffaac;
$background-color_3: #ffffff;
$background-color_4: red;
$font-family_1: 'Carter One', cursive;







